.container {
    align-items: center;
    justify-content: center;
    text-align: center;
    /* background-color: azure; */
    height: 100vh;
    width: 100%;
}

.dropdown {
    padding-top: 7%;
}

.button {
    margin-top: 2%;
}

.button:hover {
    cursor: pointer;
    background-color: palevioletred;
}

.list,
.table,
.spinner {
    margin-top: 2%;
}

.error {
    color: red;
    margin-top: 2%;
}